<!-- <div class="card h-100 shadow-sm border-primary">
  <img src="{{ vewPro.img }}" class="card-img-top rounded border" alt="{{ vewPro.nam }}" />
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <span class="badge rounded-pill bg-info text-dark px-3 py-2">{{ vewPro.nam }}</span>
      <span class="fs-5 text-primary fw-bold">{{ vewPro.pris }}&euro;</span>
    </div>
    <h5 class="card-title mb-4">
      {{ vewPro.des }}
    </h5>
    <div class="text-center">
      <a href="#" class="btn btn-warning px-4 py-2 shadow-sm">Check offer</a>
    </div>
  </div>
</div> -->

<div class="card">
  <div class="d-flex justify-content-between p-3">
    <p class="lead mb-0">Today's Combo Offer</p>
    <div
      class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
      style="width: 35px; height: 35px"
    >
      <p class="text-white mb-0 small">x4</p>
    </div>
  </div>
  <img src="{{ vewPro.img }}" class="card-img-top" alt="Laptop" />
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <p class="small"><a href="#!" class="text-muted">Laptops</a></p>
    </div>

    <div class="d-flex justify-content-between mb-3">
      <h5 class="mb-0">{{ vewPro.nam }}</h5>
      <h5 class="text-dark mb-0">${{ vewPro.pris }}</h5>
    </div>

    <div class="d-flex justify-content-between mb-2">
      <p class="text-muted mb-0">Available: <span class="fw-bold">6</span></p>
      <div class="ms-auto text-warning">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
